MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/nimsa-se?retryWrites=true&w=majority
SESSION_SECRET=nimsa-se-super-secret-change-this-2026
PORT=3000
CLOUDINARY_CLOUD_NAME=dv8wyzpmm
CLOUDINARY_API_KEY=955451788666332
CLOUDINARY_API_SECRET=o3aFuDKyhJ49dAKJA0QOvuEJb-4
